@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  --bg-color: #455a64;
  --primary-color: #212832;
  --secondary-color: #fed36a;
  --txt-color: #fff;
}

body {
  background-color: var(--bg-color);
}

.header {
  background-color: var(--primary-color);
  width: 100vw;
  padding: 32px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 32px;
  row-gap: 20px;
}

.btn-buscador {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.buscador,
.btn {
  border-radius: 5px;
  background-color: var(--secondary-color);
  height: 30px;
}

aside {
  width: 25vw;
  float: left;
}

.sidebar {
  background-color: var(--primary-color);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 90px;
  border-radius: 10px;
}

.btn-create {
  width: 150px;
}

.tareas {
  width: 100%;
}

.btn-tareas {
  width: 100%;
}

input,
button,
select {
  background-color: #fed36a;
}

main {
  background-color: var(--primary-color);
  float: right;
  margin: 20px 90px 20px 0px;
  border-radius: 10px;
  width: 50vw;
}

main .container {
  display: flex;
  height: 40vh;
  justify-content: space-around;
  align-items: start;
}

.container input,
.container select,
.container button {
  height: 30px;
}

@media (max-width: 768px) {
  aside,
  main {
    float: none;
    margin: 0px auto;
  }
}
 */